@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5rem;
}

body{
    min-height:  100vh;
    background-color:  #000;
    color: whitesmoke;
    display: grid;
    place-content: center;
    padding: 1rem;
}

span{
    font-size: 5rem;
    display: inline-block;
    transition: 100ms;
    margin: none;
    padding: none;
    text-align: center;
}

span:hover{
    cursor: pointer;
    transform: translateY(-0.15rem) rotate(20deg);
}

@media (max-width:1278px){
    span{
        font-size: 1.5rem;
    }
}

@media (max-width:768px){
    span{
        font-size: 0.5rem;
    }
}